.git
.github
.gitignore
.DS_Store
node_modules
dist
coverage
.turbo
.cache
tmp
.env
.env.*
deploy
docs
apps/*/.env
apps/*/.env.*
apps/*/node_modules
apps/*/dist
packages/*/node_modules
packages/*/dist
