COMPOSE_PROJECT_NAME=waybills
FRONTEND_DOMAIN=waybills.orctatech.com
API_DOMAIN=api.waybills.orctatech.com
VITE_API_BASE_URL=https://api.waybills.orctatech.com
FRONTEND_BIND_PORT=3000
BACKEND_BIND_PORT=3003
